<!-- <form action="/user" method="POST">
			<label for="username">Username</label>
			<input type="text" name="username" id="username">
			<label for="password">Password</label>
			<input type="password" name="password">
			<input type="submit" value="Submit" id="submit">
		</form> -->


<form action="/" method="POST">
			<label for="question1"></label>
			<input type="radio" name="answerone" value="true">
			<input type="radio" name="answerone" value="false">
			
	
<br> 

			<label for="question2"></label>
			<input type="radio" name="answertwo" value="true">
			<input type="radio" name="answertwo" value="false">
			
<br>


			<label for="question3"></label>
			<input type="radio" name="answerthree" value="true">
			<input type="radio" name="answerthree" value="false">
			
<br>


			<label for="question4"></label>
			<input type="radio" name="answerfour" value="true">
			<input type="radio" name="answerfour" value="false">

			<br>
			<br>
			<br>

			<input type="submit" value="Submit" id="submit">
		</form>
<!-- W3  -->
<!-- 		<form action="">
<input type="radio" name="sex" value="male">Male<br>
<input type="radio" name="sex" value="female">Female
</form>